@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, green, #031f00);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    /* Centraliza todo o conteúdo */
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.6s ease;
}

.cadastro-container.rotate {
    transform: rotateY(180deg);
    /* Gira o contêiner para a direita */
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: center;
    /* Centraliza o texto dos labels */
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    /* Centraliza o label */
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    /* Centraliza o texto inserido nos inputs */
}

.select-gender{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.cadastro-button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.cadastro-button:hover {
    background-color: #4cae4c;
}

.login {
    margin-top: 15px;
}

#login-link {
    display: inline-block;
}